{% extends "crud/layout.html" %} {% block body %}
<h1>
  Notes
  <button
    type="button"
    class="btn btn-outline-success btn-sm"
    id="create_button"
  >
    Create
  </button>
</h1>
<div class="card" id="all">
  <ul class="list-group list-group-flush">
    {% for row in results %}
    <li class="list-group-item">
      note_id: {{ row.note_id }} <br />
      content: {{ row.content }}
      <div class="text-end">
        <button
          type="button"
          class="btn btn-outline-warning btn-sm"
          id="update_button"
          data-note_id="{{row.note_id}}"
        >
          Update
        </button>
        <a href="{% url 'delete' %}?note_id={{row.note_id}}">
          <button type="button" class="btn btn-outline-danger btn-sm">
            Delete
          </button></a
        >
      </div>
    </li>
    {% empty %}
    <li class="list-group-item"><i>None</i></li>
    {% endfor %}
  </ul>
  <!-- Currency Converter Script - FxExchangeRate.com  -->
  <div
    style="
      width: 248px;
      height: auto;
      border: 1px solid #2d6ab4;
      text-align: center;
      font-size: 16px;
      font-family: sans-serif, Arial, Helvetica;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      background-color: #ffffff;
    "
  >
    <div
      style="
        width: 100%;
        height: 2.2rem;
        padding: 5px 0px 0px 0px;
        background-color: #2d6ab4;
        font-weight: bold;
      "
    >
      <a
        rel="nofollow"
        style="color: #ffffff; text-decoration: none"
        href="https://www.fxexchangerate.com/"
        >Currency Converter</a
      >
    </div>
    <script
      type="text/javascript"
      src="https://w.fxexchangerate.com/converter.php?fm=USD&ft=EUR&lg=en&am=1&ty=1"
    ></script>
  </div>
  <!--  End of Currency Converter Script -  FxExchangeRate.com -->
</div>
{% endblock %} {% block script%}

<script>
  document.querySelector("#create_button").onclick = () => {
    if (document.querySelector("#create_form")) {
      return;
    }
    const form = document.createElement("p");
    form.id = "create_form";
    form.innerHTML = `
      <form action="{% url 'create' %}" method="post" autocomplete="off">
        <p>
          <label for="new_note" class="form-label">New Note</label>
          <input type="text" class="form-control" name="new_note" id="new_note">
        </p>
        <button type="submit" class="btn btn-outline-success btn-sm">Confirm</button>
      </form>
      `;
    document.querySelector("#all").insertAdjacentElement("beforebegin", form);
  };

  document.querySelector("#update_button").onclick = () => {
    if (document.querySelector("#update_form")) {
      return;
    }
    const form = document.createElement("p");
    form.id = "update_form";
    form.innerHTML = `
      <hr />
      <form action="{% url 'update' %}" method="post" autocomplete="off">
        <p>
          <label for="updated_note" class="form-label">Updated Note</label>
          <input type="text" class="form-control" name="updated_note" id="updated_note">
        </p>
        <input type="hidden" name="note_id" value=${
          document.querySelector("#update_button").dataset.note_id
        }>
        <button type="submit" class="btn btn-outline-warning btn-sm">Confirm</button>
      </form>
      `;
    document
      .querySelector("#update_button")
      .parentElement.insertAdjacentElement("beforebegin", form);
  };
</script>
{% endblock %}
