{% extends "crud/layout.html" %} {% block body %}
<div class="w-50">
  <p><h2>Reset Password</h2></p>
    <p>
      <label for="secQ" class="form-label fw-bold">{Security Question}</label>
      <input
        class="form-control w-75"
        id="secQ"
        name="secQ"
        placeholder="Answer"
      />
    </p>

    <p>
      <label for="newPass" class="form-label fw-bold">New Password</label>
      <input type="password" class="form-control w-75" id="newPass" name="newPass" />
    </p>

    <p>
      <label for="confNewPass" class="form-label fw-bold"
        >Confirm New Password</label
      >
      <input
        type="password"
        class="form-control w-75"
        id="confNewPass"
        name="confNewPass"
      />
    </p>

    <button type="button" class="btn btn-outline-dark">Reset</button>

</div>
{% endblock %}
